<%= simple_form_for(space) do |f| %>
  <div>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.submit "Create space", class:"button-home"%>
  </div>
<% end %>s
