<div class="col-12 col-md-6 col-lg-4 mb-3">
  <div class="card h-100 space-card">
    <%= cl_image_tag space.photo.key, alt: "alttext", crop: :fill, height: 700, class: 'card-img-top space-card-img' %>
    <div class="card-body">
      <h5 class="card-title"><%= space.title %></h5>
      <p class="card-text"><%= truncate(space.description, length: 40) %></p>
      <p class="card-price btn col align-self-end"><i class="fas fa-yen-sign"></i> <%= space.price %> per day</p>
        <%= link_to "", space_path(space), class: "view-space-link" %>
      </div>
    </div>
  </div>
