<div class="col-12 col-md-4 mb-3">
  <div class="card h-100">
    <%= cl_image_tag space.photo.key, alt: "alttext", crop: :fill, height: 700, class: 'card-img-top space-card-img' %>
    <div class="card-body">
      <h5 class="card-title"><%= space.title %></h5>
      <p><%= space.address %></p>
      <p class="card-text"><%= truncate(space.description, length: 24) %></p>
        <%= link_to "View space", space_path(space) %>
      </div>
    </div>
  </div>
