<% if policy(@booking).create? %>
  <div class="card mb-3">
     <%= cl_image_tag @space.photo.key, alt: "alttext", crop: :fill, class: 'card-img-top' %>
    <div class="card-body">
      <h5 class="card-title"><%= @space.title %></h5>
      <p class="card-text"><%= @space.description %></p>
      <div class="bookings-form" data-unavailable="<%= @space.unavailable_dates.to_json %>">
      <%= simple_form_for [@space, @booking] do |f| %>
            <%= f.input :start_date, as: :string, type: :text %>
            <%= f.input :end_date, as: :string, type: :text%>
            <%= f.submit "Request booking", class: "btn btn-success" %>
          <% end %>
          <%= link_to "Back home", root_path %>
      </div>
  </div>
<% else %>
  <div class="card mb-3">
    <%= cl_image_tag @space.photo.key, alt: "alttext", crop: :fill, class: 'card-img-top space-card-img' %>
    <div class="card-body">
      <h5 class="card-title"><%= @space.title %></h5>
      <p class="card-text"><%= @space.description %></p>
  </div>
<% end %>
