</div><!-- close container -->

<div class="jumbotron space-show-header" style="background-image: linear-gradient(to top, rgba(180, 180, 180, 0.1) 0%,rgb(189, 195, 190) 100%), url(<%= cl_image_path @space.photo.key, crop: :fill %>)">
  <div class="container">
    <h1 class="display-4"><%= @space.title %></h1>
    <h3><%= @space.address %></h3>
  </div>
</div>

<div class="container">

<div class="row space-show-information">
  <div class="col-12 col-md-8 col-lg-8 mb-5">
    <div class="container pt-4">
          <h2>Description</h2>
    <p><%= @space.description %></p>
    <h2 class="mt-5">Photos from the host</h2>
    <%= cl_image_tag @space.photo.key, alt: @space.title, crop: :fill, class: "space-show-img" %>
    </div>

  </div>
  <div class="col-12 col-md-4 col-lg-4">
    <div class="container pt-4">
      <h2>Request Booking</h2>
    <div class="bookings-form" data-unavailable="<%= @space.unavailable_dates.to_json %>">
      <% disabled = !policy(@booking).create? %>
      <%= simple_form_for [@space, @booking] do |f| %>
            <%= f.input :start_date, as: :string, type: :text, disabled: disabled %>
            <%= f.input :end_date, as: :string, type: :text, disabled: disabled %>
            <%= f.input :message, as: :text, disabled: disabled %>
            <%= f.submit "Request booking", class: "btn btn-success", disabled: disabled %>
            <% end %>
      </div>
    </div>

  </div>

</div>



