</div>
<div class="banner" style="background-image: linear-gradient(to top, rgba(0,0,0,.2) 0%,rgba(0,0,0,.2) 100%), url(<%= image_path'banner.jpg', crop: :fill %>)">
  <div class="container">
    <h1>Welcome to Acornr</h1>
    <h4>Find a friendly corner to safely store your things.</h4>
    <%= simple_form_for :search, url: spaces_path, method: :get, html: {class: 'form-inline'} do |f| %>
        <%= f.input :place, label: false, input_html: {value: "", id:'search-bar'} %>
        <%= f.hidden_field :coords, id: "search-coords" %>
        <%= f.submit "Search", class: "btn btn-success", id: "search-button" %>
    <% end %>

  </div>
</div>

<div class="container">
<h3 class="mb-4 mt-4">Recently opened spaces</h3>
<div class="row">
  <% @spaces.each do |space| %>
    <%= render 'spaces/space-card', space: space %>
  <% end %>
</div>
</div>


