<!DOCTYPE html>
<html>
  <head>
    <title>Acornr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>
    <div class="container">
      <%= yield %>
    </div>
    <div class="position-relative d-flex flex-row-reverse flex-lg-row flex-wrap flex-lg-nowrap flex-justify-center flex-lg-justify-between pt-6 pb-2 mt-6 f6 text-gray border-top border-gray-light ">
    </div>
        <footer class="d-flex justify-content-center mb-3 mt-3">
          <ul> ©2020 Acornr</ul>
          <ul><i class="fab fa-facebook-f"></i></ul>
          <ul><i class="fab fa-instagram"></i></ul>
          <ul><i class="fab fa-twitter"></i></ul>
        </footer>
    </body>
  </html>
